*{
  margin: 0;
}


html, body{
  height: 100%;
}

.body{
  padding: 0;
  margin: 0;
}
.section1{
  width: 100%;
  height: 85%;
  background: url('assets/landing.jpg');
  background-size: cover;
  background-repeat: no-repeat;




}
.section2{
  height: 100%;
  background-color: white;

}
.section3{
  height: 100%;
  background-color: white;

}
.section4{
  height: 82%;



}
.section5{
  height: 60%;
  background-color: white;

}
.section6{
  height: 39%;


}
.section7{
  height: 46%;
  background-color: #F15A29;

}
#logo{
  margin-left: 500px;
  margin-top: 89px;
}
#moto{
  text-align: center;
  margin-top: 30px;
  font-family: 'Slabo 27px', serif;
  color: white;
  font-size: 35px;
}
.subsect1{
  height: 31%;
  background-color: #F15A29;
}

#food{
  position: relative;
  top: 295px;
  left: 180px;
  float: left;
}
#foods{
  position: relative;
  top: 100px;
  right: 310px;
}
#sect1{
  background-color: #E5E8E8;
  width: 246px;
  height: 110px;



}
#sect0{
  position: relative;
  float: right;

}
#sect2{
  float: right;
}
#sect3{
float: right;

}
p#happy{
  text-align: center;
  position: relative;
  top: 40px;
  font-size: 30px;
  font-family: 'Slabo 27px', serif;
  color: #5D6D7E;
}
p#party{
  text-align: center;
  position: relative;
  top: 30px;
  font-size: 30px;
  font-family: 'Slabo 27px', serif;
  color: #E5E8E8;
}
#serve{
  position: relative;
  left: 50px;

}
#head1{
 position: relative;
 bottom: 90px;
 left: 800px;
 font-family: 'Slabo 27px', serif;
 color: #424949;
}
#head11{
  font-size: 20px;
  float: right;
  position: relative;
  right: 95px;
  bottom: 100px;
  font-family: 'Slabo 27px', serif;
  color: #424949;
  margin-right: 120px;
}

#column1{
  font-size: 15px;
 position: relative;
 left: 800px;
 bottom: 40px;
 font-family: 'Slabo 27px', serif;
 color: #5D6D7E;
}
.btn-primary.btn-outline {
    color: #F15A29;
}
.btn{
  position: relative;
  left: 470px;
  color: #F15A29;
  top: 180px;
}
.btn-primary.btn-outline:hover{
  color: #fff;
}
.btn-outline {
    background-color: transparent;
    color: #F15A29;
    transition: all .5s;
}
#drink2{
  float: right;
}
#drink1{
  float: right;
}
#bar{
  position: relative;
  top: 100px;
  right: 120px;
}
#head2{
  text-align: center;
  position: relative;
  left: 120px;
  top: 100px;
  font-family: 'Slabo 27px', serif;
  color: #424949;
}
#head12{
  position: relative;
  top: 100px;
  left: 290px;
  font-family: 'Slabo 27px', serif;
  color: #424949;
  font-size: 20px;
}
#column2{
  position: relative;
  top: 110px;
  left: 265px;
  font-family: 'Slabo 27px', serif;
  color: #5D6D7E;
}
.btn-warning.btn-outline {
    color: #F15A29;
}
#button2{
  position: relative;
  top: 150px;
  right: 400px;
}
#burger{
 position: relative;
 left: 500px;
 top: 80px;
}
p#promotion{
  color: white;
  position: relative;
  bottom: 230px;
  text-align: center;
  font-size: 32px;
  font-family: 'Slabo 27px', serif;
}
p#menu{
  position: relative;
  text-align: center;
  top: 30px;
  font-size: 45px;
  color: white;
  right: 20px;
  font-family: 'Slabo 27px', serif;
}
p#direct{
  text-align: center;
  margin-top: 40px;
  margin-right: 50px;
  color: white;
  font-size: 20px;
  font-family: 'Slabo 27px', serif;
  position: relative;
  right: 30px;
}
#social{
  margin-left: 530px;
  margin-top: 30px;
}
.button {
  display: inline-block;
  border-radius: 4px;
  background-color: #f4511e;
  border: none;
  color: #E5E7E9;
  text-align: center;
  font-size: 18px;
  padding: 20px;
  width: 250px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
  position: relative;
  bottom: 235px;
  left: 700px;
  height: 50px;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '»';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}
input[type=text] {
  border: 1px solid rgba(0, 0, 0, 0.5);
  width: 300px;
  position: relative;
  bottom: 290px;
  left: 350px;
  height: 50px;
  background-color: rgba(0, 0, 0, 0.5);
}
#sub{
  position: relative;
  bottom: 10px;
}
#customer{

  width: 970px;
  height: 350px;
  position: relative;
  bottom: 500px;
  left: 150px;
  background-color: white;
  margin-right: 50px;
  margin-left: 50px;
}
/* Style the Image Used to Trigger the Modal */
#sect0 {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

#sect0:hover {opacity: 0.7;}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (Image) */
.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}

/* Caption of Modal Image (Image Text) - Same Width as the Image */
#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}

/* Add Animation - Zoom in the Modal */
.modal-content, #caption {
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)}
    to {-webkit-transform:scale(1)}
}

@keyframes zoom {
    from {transform:scale(0)}
    to {transform:scale(1)}
}

/* The Close Button */
.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
    .modal-content {
        width: 100%;
    }
}
#sect2 {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

#sect2:hover {opacity: 0.7;}

#sect3 {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

#sect3:hover {opacity: 0.7;}

#chick{

}
#buns{

}
#chickbuns{

}
#foodie{
  position: relative;
  top: 20px;
  left: 52px;
  margin-bottom: 20px;

}
#fooders{
  border: 10px solid #fff;
  box-shadow: -1px 1px 5px 4px #E3E3E3;
  padding: 1px 1px 1px 1px;
  width: 900px;
  height: 220px;
  position: relative;
  top: 100px;
  left: 150px;

  background-color: white;
}
#custo{
  position: relative;
  top: 120px;
  left: 40px;

}
body{
  overflow-x: hidden;
}
#comment{
  position: relative;
  bottom: 180px;
  left: 95px;
  color: #5D6D7E;
  font-size: 13px;
  font-family: 'Slabo 27px', serif;
}
#slide{
  margin-right: 50px;
  position: relative;
  right: 52px;
  bottom: 20px;
}
#fastfood{
  font-size: 20px;
  color: black;
  text-align: center;
}
#pizza{
  position: relative;
  top: 20px;
  left: 150px;
  color: #F15A29
}
#beef{
  position: relative;
  left: 450px;
  bottom: 10px;
  color: #F15A29;
}
#chicken{
  position: relative;
  left: 700px;
  bottom: 40px;
  color: #F15A29;
}
#happy{
  position: relative;
  bottom: 180px;
  color: #F15A29;
  font-family: 'Slabo 27px', serif;
}
#customer-name{
  position: relative;
  bottom: 180px;
  left: 190px;
}
.verticalLine {
    border-left: thick solid #ff0000;
}
#about{
  position: relative;
  bottom: 220px;
  left: 600px;
  color: #F15A29;
  font-family: 'Slabo 27px', serif;
}
#menu-detail{
  position: relative;
  bottom: 200px;
  left: 550px;
  text-align: justify;
  color: #5D6D7E;
  font-size: 13px;
  font-family: 'Slabo 27px', serif;
}
#breakfast{
  position: relative;
  left: 370px;
  bottom: 130px;
  color: white;
  font-size: 30px;
  font-family: 'Quintessential', cursive;
}
#lunch{
  position: relative;
  left: 750px;
  bottom: 175px;
  color: white;
  font-size: 30px;
  font-family: 'Quintessential', cursive;
}
#dinner{
  position: relative;
  left: 1100px;
  bottom: 220px;
  color: white;
  font-size: 30px;
  font-family: 'Quintessential', cursive;
}
